.banner {
  color: #93E5AB;
  background-color: #000000;
  padding: 50px;
  padding-right: 10px;
  border-radius: 5px;
  right: 200px;
  background-size: cover !important;
}

.banner-content p {
  text-align: left;
  font-family: 'Raleway', sans-serif;
  bottom: 2px;
}

