.banner {
  color: #93E5AB;
  background-color: #000000;
  padding: 50px;
  padding-right: 10px;
  border-radius: 5px;
  right: 200px;
  background-size: cover !important;
}

.banner-content p {
  text-align: right;
  font-family: 'Raleway', sans-serif;
}

/*.banner p {
  text-align: right;
}
*//*
p {
  font-family: 'Raleway', sans-serif;
  text-align: right;
}
*/
